@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    margin-top: 0px;
}

body {
    overflow: hidden;
    background-color: hsl(185, 75%, 39%);
    font-family: 'Kumbh Sans', sans-serif;
    overflow: hidden;
    margin: 0px;
    background-image: 
        url(../images/bg-pattern-top.svg),
        url(../images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 48vw bottom 40vh, left 45vw top 44vh;
}

/*brute profile*/
.container {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#brute-profile {   
    display: flex;
    flex-direction: column;
    align-items: center; 
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    box-shadow:  0vh 0vh 12vh rgba(0, 0, 0, 0.2);
    height: 57vh;
    width: 52.5vh;
    border-radius: 2.3vh;
}

/*background profile*/
#background-profile img {
    width: 52.5vh;
}

/*profile*/
#profile {
    padding-top: 13.8vh;
    position: absolute;
    text-align: center;
    font-size: 3vh;
}

h1 {
    margin-top: 1.5vh;
    width: 30vh;
    height: 4vh;
    font-size: 2.8vh;
    color: hsl(229, 23%, 23%);
}

span {
    color: hsl(227, 10%, 46%);
    padding-left: 1.5vh;
    font-weight: 400;
}

#city h2 {
    position: flex;
    padding-top: 13.85vh;
    margin-bottom: 3vh;
    text-align: center;
    font-size: 2.18vh;
    color: hsl(227, 10%, 46%);
    font-weight: 400;
    width: 20vh;
}

#img-profile img {
    width: 13.5vh;
    border: thick solid;
    border-radius: 15vh;
    border-color: #ffff;
}

/*reputation*/

#reputation {
    border-top: thick solid hsla(244, 49%, 23%, 0.103);
    border-top-width: 0.24vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 51.9vh;
    text-align: center;
    margin: 0px;
}

#reputation table {
    margin-top: 4.4vh;
    margin-bottom: 4vh;
    width: 51.9vh;
    padding-left: 3vh;
    padding-right: 3vh;
}

#reputation th {
    font-size: 2.55vh;
    color: hsl(229, 23%, 23%);
}

#reputation td {
    font-weight: 700px;
    font-size: 1.9vh;
    color: hsl(227, 10%, 46%);
}

.followers, .likes, .photos {
    width: 10vh;
}


/*footer*/ 
.attribution {

    font-size: 11px;
    text-align: center;
}

.attribution a { 
    text-decoration: none;
    color: hsl(228, 45%, 44%);
}